[user]
	email = "jaxpahu@gmail.com"
	name = "Jaxson Pahukula"
	username = jaxsonp
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = vim
	autocrlf = input
[alias]
	log-olp = log --pretty=oneline
